.category {
  width: 100%;
  font-size: 1rem;
  color: gray;
  font-weight: 600;
}

.value {
  font-size: 1.375rem;
  color: black;
  display: block;
  font-weight: 700;
}

.analysis {
  padding: 2rem;
  margin: 3rem 3rem 0;
}

.analysis-row {
  padding: 0 25%;
}

.analysis-col {
  text-align: center;
  padding: 1rem;
}

.bgcolor {
  background-color: #212529;
}
