.b-category {
  color: gray;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
}

.b-value {
  color: black;
  display: block;
  font-size: 1.375rem;
  font-weight: 700;
}

.b-analysis-row {
  padding: 0 25%;
}

.b-analysis-col {
  text-align: center;
}

.bg-bottom {
  background-color: #212529;
}
