* {
  background-color: #0d1117;
}

.icon {
  width: 2rem;
}

.icon-bar {
  width: 10%;
}

.bg-footer {
  background-color: #212529;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
